body{
  background-color: grey;
}

.container-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-cards{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  height: 100%;
}